body {
    background-color: #bdcebe;
    margin-bottom: 20cm;
    max-width: 100%;
    height: 100vh;
     }
     header {
        position: relative;
        left: 50%;
     }
     header h1 {
        color: #eca1a6;
        font-size: 40px;
     }
     .subtitle {
        position: relative;
        left: 225px;
     }
     .subtitle p {
        font-size: 30px;
     }
     .preço {
        color: green;
     }
     .imagem {
      width: 280px;
     }
     .laranja {
      position: relative;
      left: 200px;
      top: 150px;
     }
     section:last-child {
      margin-right: 0;
     }
     .descrição {
      font-size: 30px;
      position: relative;
      left: 80px;
     }
     .dl {
      color: orange;
     }
     .azul {
      position: relative;
      left: 700px;
      bottom: 320px;
     }
     .da {
      position: relative;
      left: 60px;
      color: blue;
     }